.card {
    background-color: var(--white-og);
    border-radius: var(--border-radius);
    border: 1px solid var(--gray-light);
    padding: 1.25rem 1em 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 280px;

    .header {
        // background-color: orange;
        font-size: .70rem;
        font-weight: 700;
        letter-spacing: .5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .4rem;
        text-transform: uppercase;
        color: var(--black);

        .badge {
            width: fit-content;
            height: fit-content;
            border-radius: var(--border-radius-xs);
            padding: 0.25rem 0.5rem;
            background: rgba(16, 185, 129, .18);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .6rem;
            color: var(--main);
            font-weight: 600;
        }

        .title {
            line-height: 1;
        }
    }

    .chartArea {
        width: 100%;

        &:focus,
        &:focus-visible,
        &:active {
            outline: none !important;
        }

        svg:focus,
        svg:focus-visible,
        svg:active {
            outline: none !important;
        }
    }

    .legend {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px;
        padding: 4px 12px 0;

        font-size: 12px;
        color: var(--black);

        .legendItem {
            display: flex;
            align-items: center;
            gap: 4px;

            .legendColor {
                width: 10px;
                height: 10px;
                border-radius: 2px;
            }
        }
    }
}