$radius: 1.25rem;

.main {
    background: linear-gradient(120deg, #e5e5e5, #f8f1f7, #d7e2d7, #eee7ce);
    // background: linear-gradient(120deg, #bc8b6f, #956662);
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        background-color: var(--white);
        display: flex;
        width: 50vw;
        height: fit-content;
        border-radius: $radius;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.48), 0 4px 6px rgba(0, 0, 0, 0.04);
        overflow: hidden;

        .left {
            // background-color: purple !important;
            width: 50%;

            .form {
                // background-color: orange !important;
                background-color: transparent;
                padding: 3rem 4rem;

                display: flex;
                flex-direction: column;
                gap: 1rem;

                .welcome {
                    // background-color: orange;
                    color: var(--black);
                    font-size: 2.5rem;
                    line-height: 2.75rem;
                    font-weight: 700;
                    text-align: center;
                    margin-bottom: 1rem;
                }
            }

            .flex {
                // background-color: orange;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                .forget {
                    // background-color: orange;
                    text-align: right;
                    font-size: 0.8rem;
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            padding: 1rem;
        }
    }

    .bottom {
        // background-color: orange;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        padding-right: 0.5rem;
        padding-bottom: 0.25rem;

        font-size: 0.5rem;
        color: var(--gray-dark);

        display: flex;
        flex-direction: column;
    }
}

// Media queries
@media (max-width:1600px) {
    .main {
        // background: orange !important;

        .wrapper {
            width: 70vw;
        }
    }
}

// hi-res laptops and desktops 
@media (max-width:1281px) {
    .main {
        // background: purple !important;

        .wrapper {
            width: 80vw;

            .left {
                .form {
                    padding: 3rem 3rem;
                }
            }
        }
    }
}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {
    .main {
        // background: tomato !important;

        .wrapper {
            width: 90vw;
        }
    }
}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {
    .main {
        // background: yellow !important;

        .wrapper {
            width: 100vw;
            border-radius: 0rem;

            .left {
                // background-color: purple !important;
                width: 100%;

                .form {
                    background-color: transparent;
                    padding: 3rem 2rem;
                }
            }

            .right {
                flex: 0;
            }
        }
    }
}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}