.nav {
    // background-color: tomato !important;
    background-color: var(--white);
    height: 3rem;
    width: 100%;

    display: flex;

    .inner {
        // background-color: tomato !important;
        width: 100%;

        font-size: 1.1rem;
        font-weight: bold;
        color: var(--black);
        white-space: nowrap;

        display: flex;
        gap: 2rem;

        .right {
            // background-color: purple;
            width: auto;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            >span {
                // background-color: orange;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                padding: 0.25rem 1rem;
                min-height: 2rem;
                max-height: 2rem;
                border-radius: var(--border-radius);
                transition: 0.3s;

                svg {
                    // background-color: purple !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover {
                    background-color: var(--contrast-light);
                    color: var(--contrast);
                    cursor: pointer;
                    transition: 0.3s;
                }
            }
        }
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px) {}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}