.main {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .item {
        // background-color: tomato;
        color: var(--black);
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0.025rem;
        width: 100%;

        padding-bottom: 1rem;
        border-bottom: 1px solid var(--gray-light);

        .itemInner {
            // background-color: blue;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            span,
            svg {
                // background-color: tomato;
                width: fit-content;

                &:hover {
                    // background-color: orange;
                    color: var(--contrast);
                    transition: 0.3s;
                }
            }
        }
    }

    .notFound {
        // background-color: purple;
        width: 100%;
    }
}


/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}