.main {
    background-color: #e5e5e5;
    background-image: var(--azure-bg-color);

    height: 100vh;
    overflow: hidden;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}