.search {
    // background-color: tomato;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    transition: width 0.3s;

    input {
        // background-color: tomato;

        &:hover {
            border-bottom: 1px solid var(--contrast) !important;
        }
    }

    .icon {
        // background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .search {
        // background-color: tomato;
        width: 80% !important;
    }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width:1025px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width:801px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}

/* smartphones, Android phones, landscape iPhone */
@media (max-width:480px) {}