  .card {
      // background-color: tomato !important;
      background: var(--white-og);
      border-radius: var(--border-radius);
      padding: 1rem;
      border: 1px solid var(--gray-light);

      width: 100%;
  }