:root {
    --main: #0b996f;
    --main-light: #f9fff6;
    --main-dark: #0c7253;
    --black: #15171A;
    --white: #f7f9fc;
    --gradient: linear-gradient(120deg, #e5e5e5, #f8f1f7, #d7e2d7, #eee7ce);
}

.main {
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}