:root {
    --main: #0b996f;
    --main-light: #f9fff6;
    --main-dark: #0c7253;
    --contrast: #5e59cc;
    --contrast-light: #efeefc;
    --black: #15171A;
    --white: #f7f9fc;
    --gray: lightgray;
    --gray-light: #ece8e8;
    --gray-dark: #787e83;
    --red: #ef4444;
    --cream: #fffbf3;
    --gradient: linear-gradient(120deg, #e5e5e5, #f8f1f7, #d7e2d7, #eee7ce);
    --border-radius: 0.5rem;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 6px 20px rgba(0, 0, 0, 0.05);
    --box-shadow-dark: 0 10px 40px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.04);
    --filter-contrast: invert(34%) sepia(96%) saturate(942%) hue-rotate(219deg) brightness(84%) contrast(88%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    // display: none !important;
    // background-color: orange !important;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

    background-color: var(--white);
    color: var(--black);

    letter-spacing: 0.03em;
    font-size: 1rem;

    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .auth {
        // background-color: purple !important;
        display: flex;
        flex-direction: row;

        main {
            // background-color: tomato !important;
            flex-grow: 1;
            min-height: 100vh;
            max-height: 100vh;

            .children {
                // background-color: orange;
                padding: 0rem 2rem 2rem 2rem;
                overflow-y: auto;

                // Gambiarra monstra para exibir tudo;
                height: 92%;
            }
        }
    }
}

.no-layout {
    // background: orange !important;
    background-color: var(--white);
    height: 100%;
    flex-grow: 1;

    letter-spacing: 0.01em;
    font-size: 1rem;

    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    header {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .children {
        // background: orange !important;
        background: transparent;
        padding: 0rem 0rem 2rem 0rem;
        overflow: hidden;
        min-height: 100vh;
    }
}

// Misc
img {
    pointer-events: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

svg {
    // background-color: purple !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

::selection {
    background: var(--main-dark);
    color: var(--white);
}

.notAllowed {
    cursor: not-allowed !important;
}

.pointer {
    cursor: pointer;
}

.contrastOnHover {
    // background-color: orange;
    transition: 0.3s;

    &:hover {
        color: var(--contrast);
        transition: 0.3s;

        svg {
            filter: var(--filter-contrast);
            transition: 0s;
        }
    }
}

a {
    color: var(--contrast);
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--contrast);
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    transition: color 0.3s, text-decoration-color 0.3s;

    &:hover {
        color: color-mix(in srgb, var(--contrast) 70%, white 30%);
        text-decoration-color: color-mix(in srgb, var(--contrast) 70%, white 30%);
        transition: color 0.3s, text-decoration-color 0.3s;
    }
}

// Scroll
::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--contrast);
}

// Modal
.modal-layout-grid {
    // background-color: orange;
    min-width: 20rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.modal-layout-flex {
    // background-color: orange;
    min-width: 20rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.close {
    // background-color: orange !important;
    margin-left: auto !important;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    transition: 0.3s;
    border-radius: 0.2rem;
    color: var(--gray-dark);

    &:hover {
        color: var(--contrast);
        transition: 0.3s;
    }
}

// Inputs
input[type='text'],
input[type='number'],
input[type='datetime-local'],
input[type='date'],
input[type='time'],
input[type='email'],
input[type='password'] {
    font-size: 0.9rem;
    font-weight: 500;
    height: 2.5rem;

    font-style: inherit !important;
    background-color: transparent;
    color: var(--black) !important;
    opacity: 0.9;

    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--gray);
    padding: 0 0.5rem;
    transition: 0.3s;
    width: 100%;

    &::placeholder {
        color: #999999;
        font-size: 0.75rem;
        font-weight: 500;
        transition: 0.3s;
    }

    &:focus {
        outline: none;
        border-bottom: solid 1px var(--main);
        transition: 0.3s;

        &::placeholder {
            font-size: 0.65rem;
            transition: 0.3s;
        }
    }

    &:disabled {
        color: #999999 !important;
        background-color: rgba(221, 221, 221, 0.25);
        border: 1px solid rgba(221, 221, 221, 0.25);
        border-radius: var(--border-radius);
        cursor: not-allowed;
    }
}

// Autofill;
input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white) inset !important;
    -webkit-text-fill-color: inherit !important;
}

// Sonner (toast)
.toastSonner {
    div {
        // background-color: orange !important;
        font-weight: 600 !important;
        color: var(--white) !important;
    }

    button {
        background-color: #1d2024 !important;
        transition: 0.3s !important;

        &:hover {
            background-color: #373c42 !important;
        }
    }
}

// Tables (rc-table, rc-pagination)
.rc-table {
    overflow-x: auto !important;

    td,
    th {
        // white-space: nowrap !important;
        word-break: keep-all !important;
    }

    th {
        background-color: var(--main-dark) !important;
        color: var(--white) !important;
        text-align: left !important;

        &:first-of-type {
            // background-color: orange !important;
            border-top-left-radius: var(--border-radius) !important;
            border-bottom-left-radius: var(--border-radius) !important;
        }

        &:last-of-type {
            // background-color: orange !important;
            border-top-right-radius: var(--border-radius) !important;
            border-bottom-right-radius: var(--border-radius) !important;
        }
    }

    .rc-table-content,
    .rc-table-cell {
        border: none;
    }

    .rc-table-cell-row-hover {
        background-color: rgba(37, 150, 190, 0.1) !important;
    }
}

.rc-pagination {
    // background-color: orange !important;
    margin-top: 1rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    li,
    button {
        border-radius: 50% !important;
    }
}

// swal
.swal2-popup {
    // background-color: orange !important;
    padding: 2.5rem 2rem !important;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow-dark);
    font-family: inherit !important;
    z-index: 99999999 !important;

    .swal2-html-container {
        // background-color: purple !important;
        font-weight: 400 !important;
        font-size: 1rem !important;
        font-family: inherit !important;
        color: var(--black) !important;

        // text-align: left !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    // .swal2-error {
    //     border-color: var(--contrast) !important;
    // }

    // .swal2-x-mark-line-left,
    // .swal2-x-mark-line-right {
    //     background-color: var(--contrast) !important;
    // }

    button {
        background-color: var(--main) !important;
        font-weight: 600 !important;
        font-size: 0.75rem !important;
        letter-spacing: 1px !important;
        padding: 0.75rem 1rem !important;
        color: var(--white) !important;
        min-width: 10rem !important;
        border-radius: var(--border-radius) !important;
        box-shadow: var(--box-shadow) !important;
        font-family: inherit !important;
        transition: 0.3s !important;

        &:hover {
            transition: 0.3s !important;
            opacity: 0.75 !important;
        }
    }

    .swal2-cancel {
        background-color: transparent !important;
        font-weight: 500 !important;
        color: var(--black) !important;
        font-family: inherit !important;
        transition: 0.3s !important;

        &:hover {
            background-color: inherit !important;
            opacity: 0.6 !important;
            transition: 0.3s !important;
        }
    }

    .swal2-title {
        font-size: 1.35rem !important;
        color: var(--black) !important;
    }

    .swal2-input {
        // box-shadow: none !important;

        &::-webkit-input-placeholder {
            font-size: 1.05rem;
        }
    }

    .swal2-image {
        // background-color: orange !important;
        border-radius: var(--border-radius) !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
        width: 100% !important;
        height: auto !important;
    }

    .swal2-loader {
        border-bottom-color: var(--main) !important;
        border-top-color: var(--main) !important;
    }

    .swal2-icon {
        font-size: 0.65rem !important;
    }
}

// Cookie consent
.cookie_widget_container {
    background: var(--white) !important;
    border: none !important;
    min-width: 25rem !important;
    font-family: inherit !important;

    .cookie_widget_shape_2 {
        // background-color: rgba(16, 94, 170, 0.25);
        background-color: var(--main);
        opacity: 0.25;
    }

    .cookie_widget_title {
        // background-color: orange;
        min-height: 3rem;
        font-size: 1.5rem;
        color: var(--black) !important;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .cookie_widget_subtitle {
        margin-top: 1.25rem !important;

        color: var(--black) !important;
        opacity: 0.9;
        font-size: 0.9rem;
        font-weight: 500;
    }

    .cookie_widget_text {
        // background-color: orange !important;
        color: var(--black) !important;
        opacity: 0.8 !important;
        font-weight: 400;
        text-align: left;
    }

    .cookie_widget_footer {
        // background-color: orange;

        .cookie_widget_button_reject {
            // background-color: orange;
            color: var(--black) !important;
        }

        .cookie_widget_button_accept {
            // background-color: orange;
            color: var(--black) !important;
        }

        .cookie_widget_button_reject,
        .cookie_widget_button_accept {
            opacity: 0.9;
            font-family: inherit !important;
            transition: 0.2s;

            &:hover {
                opacity: 0.8;
                color: var(--main) !important;
                transition: 0.2s;
            }
        }
    }
}

// Tip
.tippy-box {
    background-color: var(--black) !important;
    color: var(--white) !important;
    font-weight: 500 !important;
    border-radius: var(--border-radius) !important;
    padding: 0.35rem 0.5rem !important;

    &[data-placement^='top']>.tippy-arrow::before {
        border-top-color: var(--black) !important;
    }

    &[data-placement^='bottom']>.tippy-arrow::before {
        border-bottom-color: var(--black) !important;
    }

    &[data-placement^='left']>.tippy-arrow::before {
        border-left-color: var(--black) !important;
    }

    &[data-placement^='right']>.tippy-arrow::before {
        border-right-color: var(--black) !important;
    }
}

// NProgress
#nprogress {
    .bar {
        background: var(--contrast) !important;
        height: 3px !important;
        box-shadow: none !important;
    }

    .peg {
        box-shadow: 0 0 10px var(--contrast), 0 0 5px var(--contrast) !important;
        box-shadow: none !important;
        height: 3px !important;
    }

    .spinner-icon {
        display: none !important;
        border-top-color: var(--contrast) !important;
        border-left-color: var(--contrast) !important;
    }
}

// animate.css
.animate__delay-0_5s {
    animation-delay: 0.5s;
}

.animate__delay-faster {
    animation-delay: 0.1s;
}

// react-big-calendar  
.rbc-calendar {
    // background-color: tomato !important;

    // // Headers;
    // .rbc-header {
    //     background-color: tomato !important;
    // }

    // Quadrados;
    .rbc-row-bg {
        // background-color: tomato !important;
        // background-color: var(--white);
        background-color: #FFFFFF;
        cursor: copy;
        width: 100% !important;
    }

    // Quadrado de hoje;
    .rbc-today {
        // background-color: orange !important;
        background-color: inherit;
    }

    // Eventos;
    .rbc-event {
        // background-color: purple !important;
        border: none !important;
        background-color: var(--main);
        padding: 0.25rem 0.5rem;
        border-radius: 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .rbc-event-content {
            // background-color: orange !important;
            font-size: 0.85rem;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            white-space: nowrap;
        }

        &:focus,
        &:active {
            // background-color: orange !important;
            outline: none !important;
            border: none !important;
        }
    }

    // Evento selecionado;
    .rbc-selected {
        // background-color: orange !important;
        // background-color: var(--main-dark) !important;
        background-color: var(--main) !important;
        border: none !important;

        &:focus,
        &:active {
            // background-color: orange !important;
            outline: none !important;
            border: none !important;
        }
    }

    // Tipo mês (1);
    .rbc-month-view {
        // background-color: tomato !important;
        border: 1px solid var(--gray-light);
        border-radius: var(--border-radius);

        .rbc-event {
            // background-color: purple !important;

            width: 100.5%;
            // width: 95%;
            // margin: auto;
            // border-radius: var(--border-radius);
            // border-radius: 1rem;

            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .rbc-now {
            .rbc-button-link {
                // background-color: orange !important;
                background-color: var(--main);
                color: var(--white);
                font-size: 0.7rem;
                font-weight: 600;
                border-radius: 999px;
                padding: 0.25rem;
                margin-top: 0.25rem;
                margin-bottom: 0.25rem;
            }
        }

        .rbc-header {
            // background-color: orange;
            text-transform: capitalize;
        }

        .rbc-row-content {
            // background-color: orange;

            .rbc-show-more {
                // background-color: purple;
                color: var(--main);
            }
        }

        .rbc-off-range-bg {
            background-color: inherit;
        }
    }

    // Tipo semana (2) e dia (3);
    .rbc-time-view {
        // background-color: orange;
        border: 1px solid var(--gray-light);
        border-radius: var(--border-radius);

        .rbc-today {
            // background-color: orange !important;

            .rbc-button-link {
                font-weight: 600;
                position: relative;
                text-decoration: underline solid var(--main);
                text-underline-offset: 2px;

                &::after {
                    content: 'hoje';
                    font-size: 0.6rem;
                    font-weight: 600;
                    color: var(--main);
                    position: absolute;
                    margin-left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .rbc-current-time-indicator {
            background-color: var(--contrast);
            height: 3px;
        }

        .rbc-events-container {
            // background-color: blue;
            margin-right: 0;

            .rbc-event {
                // background-color: yellow !important;
                width: 100%;
            }
        }
    }

    // Tipo agenda (4);
    .rbc-agenda-view {
        // background-color: orange;
        // border: 1px solid var(--gray-light);
        border: 1px solid rgba(236, 232, 232, 0.5);
        border-radius: var(--border-radius);

        .rbc-agenda-table {
            // background-color: orange;
            // border: 1px solid var(--gray-light);
            border: 1px solid rgba(236, 232, 232, 0.5);

            .rbc-agenda-date-cell {
                // background-color: orange !important;
                background-color: var(--white) !important;
            }

            .rbc-agenda-time-cell {
                // background-color: orange !important;
                // border: 1px solid var(--gray-light);
                border: 1px solid rgba(236, 232, 232, 0.5);
            }
        }

        .rbc-agenda-empty {
            padding: 1rem;
        }
    }

    // toolbar;
    .rbc-toolbar {
        // background-color: purple;

        .rbc-toolbar-label {
            // background-color: orange;
            text-transform: none;
            font-weight: 700;
        }

        .rbc-btn-group {
            // background-color: orange !important;
            border-radius: var(--border-radius);

            .rbc-active {
                // background-color: orange;
                background-color: var(--main);
                color: var(--white);
                box-shadow: none;
            }

            button {
                // background-color: orange;
                border: 1px solid var(--gray-light) !important;
                transition: 0.3s;

                &:first-child {
                    // background-color: tomato;
                    border-top-left-radius: var(--border-radius);
                    border-bottom-left-radius: var(--border-radius);
                }

                &:last-child {
                    // background-color: blue;
                    border-top-right-radius: var(--border-radius);
                    border-bottom-right-radius: var(--border-radius);
                }

                &:hover {
                    background-color: #f5f5f5;
                    transition: 0.3s;
                }

                &:focus {
                    background-color: var(--main);
                    color: var(--white);
                    transition: 0.3s;
                }
            }
        }
    }

    .rbc-event-past {
        // background-color: tomato !important;
        background-color: var(--gray) !important;
        color: var(--black) !important;
        opacity: 0.75 !important;

        &:hover {
            background-color: var(--gray) !important;
            color: var(--black) !important;
            opacity: 0.75 !important;
        }
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px) {

    .rbc-calendar {
        // background-color: yellow !important;

        // Tipo semana e dia;
        .rbc-time-view {
            // background-color: tomato;

            .rbc-today {
                // background-color: blue;

                .rbc-button-link {
                    // background-color: orange !important;

                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {

    .modal-layout-grid,
    .modal-layout-flex {
        // background-color: orange;
        width: 80vw;
    }

    .rbc-calendar {
        // background-color: orange !important;

        .rbc-toolbar {
            // background-color: purple;

            .rbc-toolbar-label {
                // background-color: orange;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {
    .swal2-popup {
        // background-color: orange !important;
        width: 100vw !important;
        max-width: 100vw !important;
        height: auto !important;
        border-radius: 0 !important;

        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}