.button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    padding: 1rem;
    min-width: 5rem;
    border: none;
    margin: 0;
    background: var(--main);
    color: var(--white);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    outline: none;
    place-content: center;
    place-items: center;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    user-select: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.025), 0 6px 20px rgba(0, 0, 0, 0.025);

    display: flex;
    gap: 0.25rem;

    &:hover {
        opacity: 0.8;
    }

    img,
    svg {
        // background-color: orange !important;
        margin-right: 0.2rem;
    }

    &:disabled {
        background-color: var(--main);
        color: var(--white);
        opacity: 0.33;
        cursor: not-allowed;
    }

    &.btnSimple {
        background-color: transparent;
        border: 1px solid var(--gray) !important;
        color: var(--gray-dark) !important;
        transition: 0.3s !important;

        &:hover {
            border: 1px solid var(--contrast) !important;
            color: var(--contrast) !important;
            transition: 0.3s !important;

            svg {
                transition: 0.3s !important;
            }
        }
    }

    &.big {
        // background-color: orange !important;
        padding: 0.75rem 1.5rem !important;
        height: 3rem !important;
    }
}