.footer {
    position: sticky;
    top: 100vh;
    background: var(--cream);
    border-top: 1px solid var(--gray-light);
    padding: 0 0 2.5rem 0;
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        // background-color: orange;
        border-top: var(--border);
        width: 70vw;
        font-weight: 400;
        font-size: 0.85rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        color: var(--black);

        .right {
            display: flex;

            .icons {
                // background-color: rebeccapurple;
                display: flex;
                justify-content: space-between;
                gap: 1rem;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {
    .footer {
        .wrapper {
            display: none;
        }
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}