.footer {
    // background-color: orange !important;
    position: sticky;
    top: 100vh;
    background: var(--cream);
    padding: 0;
    border: 1px solid var(--gray-light);
    border-radius: var(--border-radius);

    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        // background-color: orange;
        border-top: var(--border);
        width: 100%;
        font-weight: 400;
        font-size: 0.85rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        color: var(--black);

        .content {
            // background-color: tomato;
            display: flex;
            flex-direction: column;
        }

        .right {
            display: flex;

            .icons {
                // background-color: rebeccapurple;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- Media queries =-=-=-=-=-=-=-=-=-=-=-=- */
/* hi-res laptops and desktops */
@media (max-width:1281px) {}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (max-width:600px) {}