.wrapper {
    min-width: 100%;
    display: flex;
    gap: 1.5rem;
    padding: 1.25rem;
    background: var(--cream);
    border-radius: var(--border-radius);
    border: 1px solid rgba(0, 0, 0, 0.03);
    align-items: stretch;

    .panel {
        // background-color: orange;
        flex: 1;
        display: flex;
        align-items: stretch;

        .panelInner {
            // background-color: orange;
            border-radius: var(--border-radius);
            width: 100%;
            position: relative;
            overflow: visible;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .panelHeader {
                // background-color: orange;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 0.5rem;

                span {
                    margin: 0;
                    font-size: 1.35rem;
                    font-weight: 600;
                    letter-spacing: 0.1px;
                    color: var(--black);
                }
            }

            .steps {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                >* {
                    // background-color: tomato;
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 1281px) {
    .wrapper {
        // background-color: purple !important;
        flex-direction: column;

        .panel {
            width: 100%;
            min-width: auto;

            .panelInner {
                .steps {
                    flex-direction: column;

                    >* {
                        // background-color: tomato;
                        width: 100%;
                    }
                }
            }
        }
    }
}