.wrapper {
    // background-color: tomato !important;
    min-width: 100%;

    display: flex;
    flex-direction: row;

    .flex {
        // background-color: purple !important;
        width: 100% !important;
        display: flex;
        gap: 1.5rem;
        padding: 1rem;
        background: var(--cream);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        border: 1px solid var(--gray-light);
        border-left: 0;
        align-items: stretch;

        .panel {
            // background-color: orange;
            flex: 1;
            display: flex;
            align-items: stretch;

            .panelInner {
                // background-color: orange;
                border-radius: var(--border-radius);
                width: 100%;
                position: relative;
                overflow: visible;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 0.5rem;

                .panelHeader {
                    // background-color: orange;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 0.5rem;

                    span {
                        margin: 0;
                        font-size: 1.35rem;
                        font-weight: 600;
                        letter-spacing: 0.1px;
                        color: var(--black);
                    }
                }

                .steps {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    width: 100%;

                    >* {
                        // background-color: tomato;
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1281px) {
    .wrapper {
        .flex {
            // background-color: purple !important;
            flex-direction: column;
            border-radius: var(--border-radius);
            border: 1px solid rgba(0, 0, 0, 0.03);

            .panel {
                width: 100%;
                min-width: auto;

                .panelInner {
                    // background-color: orange;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .steps {
                        flex-direction: column;

                        >* {
                            // background-color: tomato;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px) {
    .wrapper {
        // background-color: tomato !important;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}