.modal {
    // background-color: orange !important;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    outline: none;
    font-size: 0.9rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .top {
        // background-color: orange;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px) {}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}