.main {
    background: transparent !important;
    position: fixed !important;
    height: 100vh !important;
    width: 100vw !important;
    z-index: 999999999999 !important;

    cursor: not-allowed !important;

    display: flex;
    align-items: flex-end;

    .loading {
        // background-color: purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        margin-left: 0.5rem;
        margin-bottom: 0.5rem;

        img {
            width: 2rem;
            height: 2rem;
            filter: var(--filter-main);
        }
    }
}