.codeBlock {
    // background: #1e1e1e;
    // margin-top: 0.5rem;
    // color: #dcdcdc;

    width: fit-content;
    color: var(--gray-dark);
    padding: 1rem;
    border-radius: var(--border-radius);
    max-height: 300px;
    max-width: 100%;
    overflow-y: auto;
    font-family: inherit;
    font-size: 0.9rem;
    line-height: 1.4;
    white-space: pre-wrap;
    word-break: break-word;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);

    &::-webkit-scrollbar {
        width: 0px;
    }
}