.main {
    // background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .hello {
        // background-color: tomato;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 0;
        margin-bottom: -0.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.6rem;
    }

    .flex {
        // background-color: purple;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        >* {
            // background-color: tomato;
            flex: 0 0 calc(50% - 1rem);
            box-sizing: border-box;
        }

        .wrapper {
            background-color: blue;
        }
    }
}

@media (max-width: 1366px) {
    .main {
        // background-color: orange;

        .flex>* {
            flex: 0 0 100%;
        }
    }
}