.main {
    // background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .hello {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
        letter-spacing: 0;
    }

    .flex {
        // background-color: purple;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;

        >* {
            flex: 0 0 calc(50% - 1rem);
            box-sizing: border-box;
        }
    }
}

@media (max-width: 1281px) {
    .main {
        // background-color: orange;

        .flex>* {
            flex: 0 0 100%;
        }
    }
}