.container {
    // background-color: tomato !important;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    padding-bottom: 0;
    background: transparent;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 1.25rem;
            color: var(--black);
            margin: 0;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        .card {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h3 {
                font-size: 0.9rem;
                font-weight: 500;
                color: var(--black);
                margin: 0;
            }

            textarea {
                resize: none;
                min-height: 100px;
                border: 1px solid #dcdcdc;
                border-radius: 8px;
                padding: 0.8rem;
                font-size: 0.95rem;
                font-family: inherit;
                line-height: 1.4;
                color: var(--black);
                background: #fff;
                transition: outline 0.1s ease;

                &:focus {
                    outline: 1px solid var(--main);
                }

                &:disabled,
                &:read-only {
                    background: rgba(221, 221, 221, 0.25) !important;
                    color: var(--gray-dark) !important;
                    cursor: not-allowed !important;

                    &:focus {
                        outline: none;
                    }
                }
            }

            &.full {
                grid-column: 1 / span 2;
            }
        }


        .tipSection {
            display: flex;
            align-items: flex-start;
            gap: 0.75rem;
            background: #f1f9f4;
            border: 1px solid #cce5cc;
            border-radius: 10px;
            padding: 0.9rem 1.1rem;
            font-size: 0.9rem;
            color: var(--black);
            line-height: 1.4;
            margin-top: 0.75rem;

            code {
                // background: #fff;
                // border: 1px solid #ddd;
                border-radius: 5px;
                padding: 0 4px;
                font-family: monospace;
                font-size: 0.85rem;
                color: var(--contrast);
                font-weight: 700;
            }

            strong {
                color: var(--black);
                font-weight: 600;
            }
        }
    }
}