.sidebar {
    min-width: 14.5rem;
    max-width: 14.5rem;
    background-color: var(--main-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    transition: transform 0.3s ease;
    border-right: 2px solid #d8efe8;

    .brand {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem;
        color: var(--main);
        margin-left: 0.78rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0.5rem;

        .group {
            width: 100%;
            margin-bottom: 1rem;
            padding: 0 0.5rem;

            .groupLabel {
                font-size: 0.75rem;
                font-weight: 600;
                color: #666;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
                display: block;
                margin-left: 0.5rem;
            }

            ul {
                width: 100%;
                list-style: none;
                padding: 0;
                margin: 0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;
                    width: 100%;
                    margin-bottom: 0.25rem;
                    padding: 0.75rem 1rem;

                    cursor: pointer;
                    color: var(--black);
                    border-radius: 1rem;
                    transition: background 0.2s, border 0.2s;
                    outline: none;

                    svg {
                        stroke: #444;
                    }

                    &:hover {
                        background-color: #eafce8;
                    }

                    &.active {
                        background-color: #d7fec8;
                        font-weight: 500;

                        svg {
                            stroke: var(--main);
                        }
                    }
                }
            }
        }
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px),
(max-height: 760px) {
    .sidebar {
        min-width: 3.5rem;
        max-width: 3.5rem;

        .brand {
            display: none;
        }

        nav {
            padding: 0;

            .group {
                padding: 0;
                margin-bottom: 0;

                .groupLabel {
                    display: none;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 0;
                        padding-left: 1.25rem;

                        svg {
                            width: 1rem;
                            height: auto;
                        }

                        &.active {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops and desktops 
@media (max-width:801px) {}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}