.sidebar {
    min-width: 14.5rem;
    max-width: 14.5rem;
    background-color: var(--main-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    border-right: 2px solid #d8efe8;
    position: relative;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    .brand {
        // background-color: orange;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem 0.7rem;
        color: var(--main);
        margin-left: 0.78rem;
    }

    nav {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0 0.5rem;

        .group {
            width: 100%;

            .groupHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                padding: 0.5rem 0.75rem;
                border-radius: 0.5rem;
                color: #555;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 0.75rem;

                &:hover {
                    background-color: #f2fdf0;
                }

                svg {
                    width: 1rem;
                    height: 1rem;
                    stroke-width: 2;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0.25rem 0 0 0;
                display: flex;
                flex-direction: column;
                gap: 0.25rem;

                li {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;
                    padding: 0.6rem 1rem;
                    border-radius: 1rem;
                    cursor: pointer;
                    transition: background 0.2s;
                    color: var(--black);
                    font-size: 1rem;

                    svg {
                        stroke: #444;
                    }

                    &:hover {
                        background-color: #eafce8;
                    }

                    &.active {
                        background-color: #d7fec8;
                        font-weight: 500;

                        svg {
                            stroke: var(--main);
                        }
                    }
                }
            }
        }
    }

    .popover {
        // background-color: orange !important;
        position: fixed;
        background-color: var(--main-light);
        border: 2px solid #d8efe8;
        border-radius: var(--border-radius);
        min-width: fit-content;
        padding: 0.5rem 0;
        z-index: 999;

        .popoverItem {
            // background-color: purple !important;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            padding: 0.65rem 1rem;
            cursor: pointer;
            border-radius: 0.5rem;
            transition: background 0.2s;
            color: var(--black);
            font-size: 1rem;

            svg {
                stroke: #444;
            }

            &:hover {
                border-radius: 0;
                background-color: #eafce8;
            }

            &.active {
                border-radius: 0;
                background-color: #d7fec8;
                font-weight: 500;

                svg {
                    stroke: var(--main);
                }
            }
        }
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1366px),
(max-height: 768px) {
    .sidebar {
        // background-color: orange !important;   

        // Workaround;
        padding-bottom: 3rem;

        nav {
            .group {
                ul {
                    // gap: 0rem;
                    gap: 0.15rem;

                    li {
                        // background-color: purple !important;
                        // font-size: 0.8rem;
                        font-size: 0.95rem;
                        gap: 0.5rem;
                    }

                    svg {
                        // display: none !important;
                        width: 0.9rem;
                    }
                }
            }
        }

        .popover {
            // background-color: orange !important;

            .popoverItem {
                font-size: 0.95rem;
            }
        }
    }
}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}