.sidebar {
    // background-color: orange !important;
    min-width: 14.5rem;
    max-width: 14.5rem;
    background-color: var(--main-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    transition: transform 0.3s ease;
    border-right: 2px solid #d8efe8;

    .brand {
        // background-color: orange;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem;
        color: var(--main);

        display: flex;
        align-items: center;
        gap: 0.75rem;

        small {
            // background-color: orange;
            font-weight: bold;
            font-size: 0.5rem;
            color: var(--main);

            margin-left: -0.5rem;
            margin-top: 0.4rem;
        }
    }

    nav {
        // background-color: orange;
        flex: 1;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                gap: 0.75rem;

                cursor: pointer;
                color: var(--black);
                border-left: 5px solid transparent; // Tem que ser igual o border-left do .active abaixo;
                transition: background 0.2s, border 0.2s;

                margin-bottom: 0.25rem;
                padding: 0.75rem 1rem;

                svg {
                    stroke: #444;
                }

                &:hover {
                    background-color: #eafce8;
                }

                &.active {
                    background-color: #eafce8;
                    border-left: 5px solid var(--main);
                    font-weight: 500;

                    svg {
                        stroke: var(--main);
                    }
                }
            }
        }
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px) {}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {
    .sidebar {
        // background-color: orange !important;
        min-width: 3.5rem;
        max-width: 3.5rem;

        .brand {
            display: none;
        }

        nav {
            // background-color: orange;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: 0;
                }

                svg {
                    width: 1rem;
                    height: auto;
                }
            }
        }
    }
}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}