.container {
    min-height: 100vh;
    background-color: transparent;
    padding: 1rem 0rem;

    .wrapper {
        // max-width: 48rem;
        margin: 0 auto;

        .card {
            background-color: var(--white-og);
            border-radius: var(--border-radius);
            padding: 2rem;
            border: 1px solid var(--gray-light);
            margin-bottom: 1rem;

            .cardHeader {
                margin-bottom: 1.5rem;

                .cardTitle {
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: #111827;
                    margin-bottom: 0.25rem;
                }

                .cardSubtitle {
                    font-size: 0.875rem;
                    color: #6b7280;
                    border-bottom: 1px solid var(--gray-light);
                    padding-bottom: 0.5rem;
                }
            }
        }

        .form {
            .formRow {
                // background-color: orange;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                @media (max-width: 640px) {
                    grid-template-columns: 1fr;
                }
            }

            .buttonGroup {
                display: flex;
                justify-content: flex-end;
                gap: 0.75rem;
                margin-top: 1.5rem;
            }
        }
    }
}