.main {
    // background-color: coral;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    font-family: inherit !important;

    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    .title {
        // background-color: tomato;
        color: var(--black);
        font-size: 0.75rem;
        font-weight: 500;
        margin-right: auto;
        margin-bottom: 1px;
        display: inline-block;

        .obligatory {
            // background-color: orange;
            color: var(--main);
            font-weight: 600;
            font-size: 1rem;
        }
    }

    input {
        // background-color: orange !important;
        // height: 2.5rem !important;
        height: 40px !important;
        font-size: 0.8rem !important;
        font-family: inherit !important;
    }
}