.main {
    // background-color: orange !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .flex {
        // background-color: purple;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        >* {
            flex: 1 1 calc(50% - 0.5rem);
            box-sizing: border-box;
        }
    }

    .grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, minmax(0, 1fr));

        .card {
            // background-color: blue !important;
            background: #ffffff;
            border-radius: var(--border-radius);
            border: 1px solid var(--gray-light);
            padding: 1rem;
            transition: all 0.3s ease;

            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 100%;

            &:hover {
                box-shadow: var(--box-shadow);
                transform: translateY(-2px);
                transition: all 0.3s ease;
            }

            .header {
                display: flex;
                align-items: center;
                gap: 1rem;
                position: relative;
            }

            .avatar {
                // background-color: orange !important;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                overflow: hidden;
                background: var(--main-light);
                color: var(--main);
                font-weight: bold;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info {
                // background-color: blue;

                h3 {
                    margin: 0;
                    font-size: 1.125rem;
                    font-weight: 600;
                    color: var(--black);
                }

                .type {
                    margin: 0;
                    font-size: 0.85rem;
                    color: var(--gray-dark);
                }
            }

            .badge {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 0.75rem;
                padding: 0.3rem;
                border-radius: 999px;
                font-weight: 500;
                color: var(--white);
                background: var(--main);
            }

            .content {
                // background-color: purple;

                p {
                    // background-color: tomato;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    margin-top: 0.35rem;
                    font-size: 0.95rem;
                    color: var(--gray-dark);

                    svg {
                        color: var(--main);
                    }
                }

                a {
                    color: var(--gray-dark);
                }
            }

            .modules {
                // background-color: tomato !important;
                display: flex;
                flex-wrap: wrap;
                gap: 0.4rem;

                .module {
                    background: var(--contrast-light);
                    color: var(--contrast);
                    font-size: 0.75rem;
                    padding: 0.2rem 0.6rem;
                    border-radius: var(--border-radius);
                }
            }

            .actions {
                // background-color: tomato;
                margin-top: auto;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                margin-top: auto;

                button {
                    // background-color: orange !important;
                    font-size: 0.75rem;
                    padding: 0.8rem;
                }
            }
        }
    }
}

// Media queries
@media (max-width: 1536px) {
    .main {
        // background-color: blue !important;

        .flex>* {
            flex: 0 0 100%;
        }

        .grid {
            // background-color: tomato !important;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 1281px) {
    .main {
        // background-color: orange;

        .grid {
            // background-color: tomato !important;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// big landscape tablets, laptops, and desktops 
@media (max-width:1025px) {}

// tablet, landscape iPad, lo-res laptops ands desktops 
@media (max-width:801px) {
    .main {
        // background-color: orange;

        .grid {
            // background-color: purple !important;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) 
@media (max-width:600px) {}

// smartphones, Android phones, landscape iPhone
@media (max-width:480px) {}