.main {
    // background-color: coral;
    padding: 5rem 2rem 2rem 2rem;

    width: 60%;
    margin: 0 auto;

    .back {
        //  background-color: tomato;
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .title {
        // background-color: purple;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .small {
            color: var(--gray-dark);
            font-size: 0.75rem;
            font-weight: 400;
        }

        .regular {
            color: var(--black);
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: 0.025rem;
            margin-top: 0rem;
        }
    }

    .content {
        // background-color: coral;
        color: var(--black);
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.025rem;
        margin-top: 2rem;
    }
}

// Media queries
// hi-res laptops and desktops 
@media (max-width:1281px) {
    .main {
        // background-color: orange;
        width: 90%;
    }
}