.tags {
    // background-color: orange !important;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    .tag {
        padding: 4px 10px;
        border-radius: 12px;
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--white-og);
        white-space: nowrap;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}