.main {
    // background-color: orange !important;
    width: 20rem;
    background: transparent;
    border-radius: var(--border-radius);
    padding: 1rem;
    color: var(--black);
    font-family: inherit;
    font-size: 1rem;

    .header {
        display: flex;
        gap: 12px;
        align-items: center;
        padding: 6px 4px;
    }

    .separator {
        height: 1px;
        background: var(--gray);
        margin: 8px 0;
        border-radius: 1px;
    }
}